.horizontal-footer{
    background-color: black;
}

.horizontal-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style-type: none;
    padding: 0px;
}

.horizontal-footer ul li a{
    text-decoration: none;
    color: white;
}
