.header {
  background: #000;
  height: 120px;
  display: flex;
  justify-content: space-between;
}

.header h1 {
  margin: 0;
  padding-top: 40px;
  padding-left: 20px;
  text-align: left;
  color: #fffaff;
  font-size: 3rem;
}