.work-tile{
    flex: w 0 50%;
    opacity: 70%;
    position: relative; 
    padding: 40px;
}

.work-tile:hover{
    opacity: 100%;
}

.work-tile img{
    object-fit: fill;
    height: 100%;
    width: 100%;
    min-width: 260;
    border: 5px solid #3e92cc;
}

.tooltip{
    position: absolute;
    top: 90px;
    left: 45px;
    /* display: none; */
    opacity: 70%;
    background-color: #3e92cc;
    padding: 0 30px;
    /* mix-blend-mode: hard-light; */
}

.tooltip img:hover {
    opacity: 100%;
}

.tooltip h3{
    font-weight: bold;
}

.tooltip h3 img{
    opacity: 60%;
}

.tooltip h3 img:hover{
    opacity: 100%;
}