.App {
  font-family: 20px Montserrat, sans-serif
}

.App-link {
  color: #61dafb;
}

body{
  background-color: #3E5589;
  color: #fffaff;
  position: relative;
  padding-bottom: 70px;
  min-height: 100vh;
}

.container-fluid {
  padding: 60px 80px;
}

p{
  font-size: 16px;
}